
.fotos
{
    margin: auto;
    display: flex;
    flex-flow: row;
    justify-content: center;
    margin-top: 5rem;
}

.fotos div img 
{
    
    height: 20rem;
    width: 10rem;
    object-fit: cover;
    filter: brightness(50%);
}

.fotos a
{
    size: 0;
}

.container
{
    max-width: 300px;
    margin: 0 auto;
    display: inline-block;
    position: relative;
    transform-origin: right;
    height: 20rem;
}

.texto 
{
    font-family: "Lexend", sans-serif;
    font-weight: 400;
    font-style: italic;
    color: aliceblue;
    width: 19rem;
    position: absolute;
    left: -125px;
    right: 0px;
    bottom: 130px;
    font-size: 2.5rem;
    transform: rotate(270deg);

}

.container:hover
{
    transform: scale(1.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.8), 0 3px 6px rgba(0, 0, 0, 0.4);
    transition: .2s;
}