*
{
    margin:0;
    padding: 0;
}

header
{
    width: 100%;
    height: 4rem;
    background-color: white;
    display: flex;
    justify-content: center;
}

a
{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.menu
{
    margin: auto;
}
.menu p
{
    font-weight: 600;
    font-family: "Playfair Display", sans-serif;
    font-size: 2rem;
    color: #D4AF37;
    margin: auto;
}

.main
{
    display: grid;
    height: 100vh;
    grid-template-rows: 4rem 3fr 2rem 4rem;

}

.segunda
{
    background-color: #000080;
    width: 100%;
    position: sticky;
}

.terceira
{
    background-color: #EDE8D0;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    
}

.terceira img
{
    margin-top: .5rem;
height: 2rem;
}
.right
{
    margin-left: auto;
}
.left
{
    
    margin-right: auto;
}

.primeira
{
    margin: 2rem auto 0;
    width: 100%;
}
.conteudo
{
    display: flex;
    flex-flow: row;
    background-color: white;
    width: 80%;
    margin: 0 auto 0;
    justify-content: space-between;
}

.conteudo h2
{
    font-family: "Onest", sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-style: italic;
    font-size: 3rem;
}
.conteudo p
{
    font-family: 'Lexend', sans-serif;
    line-height: 1.3;
}


h3
{
    font-family: "Onest", sans-serif;
}
